In [1]:
import pandas as pd
import numpy as np
import pydataset
import evaluate as ev
import wrangle as wr
import model as md
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Acquire and Prepare

In [2]:
train, validate, test = wr.wrangle_zillow()
train.head()

         bedrooms  bathrooms    area  tax_value year_built    fips  yearly_tax
1462930       3.0        2.0  1385.0   123859.0     1956.0  6059.0      1906.0
1842132       4.0        2.0  1567.0   251569.0     1946.0  6037.0      3354.0
869730        4.0        2.0  1910.0   762153.0     1958.0  6059.0     12098.0
1306111       3.0        2.0  2042.0   751716.0     1936.0  6037.0      8844.0
431629        3.0        2.0  1502.0   351732.0     1956.0  6037.0      5411.0

In [3]:
X_train, X_validate, X_test, y_train, y_validate, y_test = wr.wrangle_zillow(target = 'tax_value')