In [25]:
import wrangle as wr

import warnings
warnings.filterwarnings("ignore")

# Acquire and Summarize

In [79]:
df = wr.get_zillow_data()
df.head().T

                                    0       1       2        3          4
bedroomcnt                        0.0     0.0     0.0     0.00       4.00
bathroomcnt                       0.0     0.0     0.0     0.00       2.00
calculatedfinishedsquarefeet      NaN     NaN     NaN      NaN    3633.00
taxvaluedollarcnt             27516.0    10.0    10.0  2108.00  296425.00
yearbuilt                         NaN     NaN     NaN      NaN    2005.00
taxamount                         NaN     NaN     NaN   174.21    6941.39
fips                           6037.0  6037.0  6037.0  6037.00    6037.00

In [48]:
wr.summarize_df(df)

This dataframe has 1557065 rows and 7 columns.
------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557065 entries, 0 to 1557064
Data columns (total 7 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   bedroomcnt                    1557059 non-null  float64
 1   bathroomcnt                   1557059 non-null  float64
 2   calculatedfinishedsquarefeet  1550963 non-null  float64
 3   taxvaluedollarcnt             1556704 non-null  float64
 4   yearbuilt                     1550340 non-null  float64
 5   taxamount                     1553845 non-null  float64
 6   fips                          1557065 non-null  float64
dtypes: float64(7)
memory usage: 83.2 MB
None
------------------------

3.0     697584
4.0     458008
2.0     243210
5.0     109164
6.0      18183
1.0      16801
0.0       9505
7.0       3448
8.0        822
9.0        203
10.0        76
11.0        26
13.0         9
12.0         8
NaN          6
14.0         5
15.0         4
16.0         1
25.0         1
18.0         1
Name: bedroomcnt, dtype: int64
2.00     682722
3.00     305557
1.00     300311
2.50     103024
4.00      59454
1.50      22377
3.50      20584
5.00      20461
4.50      14052
0.00       9364
6.00       7790
5.50       4513
7.00       3190
8.00       1240
6.50        975
9.00        543
7.50        284
10.00       239
11.00       106
8.50         76
12.00        51
9.50         33
13.00        30
14.00        17
0.50         12
15.00        12
10.50        11
16.00         8
NaN           6
18.00         6
20.00         4
1.75          3
17.00         3
12.50         3
11.50         2
19.50         1
14.50         1
Name: bathroomcnt, dtype: int64
NaN        6102
1200.0     3752
1080.0     3179
1120.0     3124
1400.0     2786
           ...
8804.0        1
10440.0       1
8766.0        1
8132.0        1
7187.0        1
Name: calculatedfinishedsquarefeet, Length: 9956, dtype: int64
450000.0    583
500000.0    571
400000.0    529
460000.0    503
430000.0    500
           ...
711563.0      1
114475.0      1
250352.0      1
175064.0      1
295216.0      1
Name: taxvaluedollarcnt, Length: 499206, dtype: int64
1955.0    60928
1950.0    51955
1954.0    49949
1953.0    45133
1956.0    44859
          ...
1879.0        1
1855.0        1
1823.0        1
1807.0        1
1878.0        1
Name: yearbuilt, Length: 151, dtype: int64
NaN         3220
345.72       117
343.52        55
344.18        52
285.30        49
            ...
69245.27       1
18215.62       1
11972.60       1
33490.41       1
3522.18        1
Name: taxamount, Length: 785099, dtype: int64
6037.0    1037114
6059.0     399625
6111.0     120326
Name: fips, dtype: int64
------------------------

                                  count           mean            std  \
bedroomcnt                    1557059.0       3.286266       0.954535
bathroomcnt                   1557059.0       2.230256       0.999823
calculatedfinishedsquarefeet  1550963.0    1862.631234    1236.143837
taxvaluedollarcnt             1556704.0  461945.343420  696533.449405
yearbuilt                     1550340.0    1960.910885      22.166249
taxamount                     1553845.0    5635.607357    8150.666909
fips                          1557065.0    6048.364891      20.450690

                                  min        25%        50%        75%  \
bedroomcnt                       0.00       3.00       3.00       4.00
bathroomcnt                      0.00       2.00       2.00       3.00
calculatedfinishedsquarefeet     1.00    1256.00    1622.00    2207.00
taxvaluedollarcnt                1.00  188000.00  327441.00  534296.00
yearbuilt                     1801.00    1949.00    1958.00    1975.00
taxamount                        5.78    2533.32    4107.82    6411.48
fips                          6037.00    6037.00    6037.00    6059.00

                                      max        range
bedroomcnt                          25.00        25.00
bathroomcnt                         20.00        20.00
calculatedfinishedsquarefeet    952576.00    952575.00
taxvaluedollarcnt             90188462.00  90188461.00
yearbuilt                         2016.00       215.00
taxamount                      1310824.04   1310818.26
fips                              6111.00        74.00

In [49]:
df.isnull().sum()

bedroomcnt                         6
bathroomcnt                        6
calculatedfinishedsquarefeet    6102
taxvaluedollarcnt                361
yearbuilt                       6725
taxamount                       3220
fips                               0
dtype: int64

In [50]:
df.nunique()

bedroomcnt                          19
bathroomcnt                         36
calculatedfinishedsquarefeet      9955
taxvaluedollarcnt               499205
yearbuilt                          150
taxamount                       785098
fips                                 3
dtype: int64

### Takeaways:
- Many null values need imputation or removal
- Some such as `calculatedfinishedsquarefeet` have so many missing vals, unique vals, and many outliers that it would be difficult to impute them all. Likely will drop them unless I come up with a more robust way to drop and impute

# Prepare

In [80]:
df.dropna(axis = 0, subset = ['calculatedfinishedsquarefeet'], inplace = True)

In [82]:
df.isnull().sum()

bedroomcnt                         3
bathroomcnt                        3
calculatedfinishedsquarefeet       0
taxvaluedollarcnt                 76
yearbuilt                       1061
taxamount                       1952
fips                               0
dtype: int64

In [51]:
df.bedroomcnt.median()

3.0

In [52]:
df[df.bedroomcnt.isnull()]

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
107763,NaN,NaN,NaN,67366.0,1926.0,780.54,6059.0
118612,NaN,NaN,NaN,43992.0,1946.0,541.64,6059.0
193993,NaN,NaN,1348.0,840698.0,1952.0,NaN,6059.0
1141339,NaN,NaN,200.0,188972.0,NaN,NaN,6037.0
1324608,NaN,NaN,990.0,435000.0,1906.0,NaN,6037.0
1442975,NaN,NaN,NaN,273196.0,NaN,NaN,6037.0

In [44]:
df['bedroomcnt'] = df.bedroomcnt.fillna(3.0)
df.isnull().sum()

bedroomcnt                         0
bathroomcnt                        6
calculatedfinishedsquarefeet    6102
taxvaluedollarcnt                361
yearbuilt                       6725
taxamount                       3220
fips                               0
dtype: int64

In [46]:
df[df.bathroomcnt.isnull()]

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
107763,3.0,NaN,NaN,67366.0,1926.0,780.54,6059.0
118612,3.0,NaN,NaN,43992.0,1946.0,541.64,6059.0
193993,3.0,NaN,1348.0,840698.0,1952.0,NaN,6059.0
1141339,3.0,NaN,200.0,188972.0,NaN,NaN,6037.0
1324608,3.0,NaN,990.0,435000.0,1906.0,NaN,6037.0
1442975,3.0,NaN,NaN,273196.0,NaN,NaN,6037.0